<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO</title>
</head>
<body>
    <!-- <form action="/procesarF" method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombrexyz">
        <button type="submit">ENVIAR</button>
    </form> -->
    <form action="{{url_for('procesarU')}}" method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre">
        <button type="submit">ENVIAR</button>
    </form>
    
    <h1>{{nombre}}</h1>


</body>
</html>